.breadcrumbs__list {
  display: flex;

  & > li {
    @extend .mu, .mu-i-right;
    position: relative;
    margin: 0 1rem 0 0;

    &:before {
      position: absolute;
      left: -.75rem;
      top: .05rem;
    }

    &:first-child:before {
      content: '';
    }
  }
}
