
ul.navigation {
  margin: 0;
}

.navigation-container {
  display: flex;
  justify-content: space-between;

  ul.menu {
    display: flex;
  }

  .menu-item > a {
    &, &:visited {
      color: inherit;
      text-decoration: none;
    }

    &:hover, &.active {
      color: #FFF;
    }
  }

  .main-navigation .menu-item {
    margin-right: 1rem;
  }

  .user-navigation .menu-item {
    margin-left: 1rem;
  }
}

