{% extends "page.html" %}

{% load i18n %}
{% load html_tools %}
{% load entity_tools %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url "crm:index" %}">{% trans "Entities" %}</a></li>
{% endblock %}

{% block content_head %}
    {{ block.super }}
    <div class="entity-navigation">
        {% entity_menu entity.id %}
    </div>
{% endblock %}

{% block content %}
    {% blocktrans with date=entity.created_at.date %}In the database since {{ date }}{% endblocktrans %}
    {% markdown entity.pitch %}
    {% entity_relations entity %}
{% endblock %}