{% extends "page.html" %}

{% load i18n %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url "crm:index" %}">{% trans "Entities" %}</a></li>
    <li><a href="{{ entity.url }}">{{ entity.name }}</a></li>
{% endblock %}


{% block content %}
    <form method="post" action="{{ request.path }}">
        {% include 'elements/form.html' %}
        <div class="form-submit">
            <div class="button-wrapper">
                <button type="submit">{% trans "Add relation" %}</button>
            </div>
            <div class="button-wrapper">
                <a href="{{ entity.url }}">{% trans "Cancel" %}</a>
            </div>
        </div>
    </form>
{% endblock %}