body {
  font-family: monospace;
  font-weight: 500;
  line-height: 1.5rem;
}

#page-wrapper {
  display: flex;
  flex-direction: column-reverse;
}

#page > .container {
  margin: 1rem 0;
}

.page-center {
  margin: 0 auto;
  padding: 0 3rem;
  width: 100%;
  max-width: 950px;
  display: block;
}

.top-bar {
  background: $blue2;
  color: #CCC;
  margin: 2rem 0 0 0;
  line-height: 3rem;
}

.page-title {
  margin: 1rem 0;
}

#below-navigation {
  position: relative;

  .user-account {
    position: absolute;
    right: 3rem;
    top:0;
  }
}

.relation-label {
  font-weight: bold;
  text-transform: uppercase;
}