.field-wrapper {
  margin: .5rem 0;

  .label {
    display: block;
    font-weight: 600;
  }

  textarea {
    padding: .5rem;
    width: 100%;
    min-height: 444px;
  }
}

.field-wrapper.field--checkbox {
  display: flex;
  justify-content: flex-start;

  [type=checkbox] {
    margin-top: .3rem;
    margin-right: .3rem;
    order: -2;
  }
  .label {
    font-weight: normal;
    order: -1;
  }
}

.form-submit {
  display: flex;

  .button-wrapper {
    margin-right: 1rem;
  }
}

.errorlist {
  color: darkred;
  font-weight: bold;
}