.markup-intended {
  ul {
    margin: .5rem 0;

    & > li {
      @extend .mu, .mu-pass;
      position: relative;

      &:before {
        position: absolute;
        left: -1.5rem;
      }

      margin-left: 1.5rem;
    }
  }

  p {
    margin: .5rem 0;
  }

  b, strong {
    font-weight: 600;
  }
  em, i {
    font-style: italic;
  }

  code {
    display: block;
    background: #DDD;
    padding: .5rem 1rem;
    width: 100%;
  }
}
