<!doctype html>
{% spaceless %}
    {% load static %}
    {% load i18n %}
    {% load menu_tools %}

    <html lang="nl-nl">
    <head>
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        <title>{% block page_title %}{% trans "CRM" %}{% endblock %}</title>
    </head>
    <body>
    <div id="page-wrapper">
        <div id="page" class="page-center" role="document">
            {% block content_head %}
            {% endblock %}

            {% block messages %}
                {% include "widgets/messages.html" %}
            {% endblock %}

            {% block content %}
            {% endblock %}
        </div>

        <div id="navigation" role="navigation">
            <div class="top-bar">
                <div class="page-center navigation-container">
                    {% block navigation %}
                        <div class="main-navigation">
                            {% menu "main" %}
                        </div>
                        <div class="user-navigation">
                            {% menu "user" %}
                        </div>
                    {% endblock %}
                </div>
            </div>
            <div id="below-navigation" class="page-center">
                {% if request.user.is_authenticated %}
                    <div class="user-account">{% blocktrans with account=user.email %}Account: {{ account }}{% endblocktrans %}</div>
                {% endif %}
                {% block below-top-bar %}
                {% endblock %}
            </div>
        </div>
    </body>
    </html>
{% endspaceless %}